<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<% if logged_in? %>
  <h2>Username: <%= current_user.username %></h2>
  <h2>Current Balance: <%= current_user.balance %></h2>
<% end %>

<p><a href="/logout">Log Out</a></p>
